body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.layout {
  min-height: 100vh;
}

.content-container {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

.spaces-sides {
  margin: 0 50px;
}

nz-message-container {

  .ant-message {
    top: 69px !important;
  }
}

nz-header {
  z-index: 2500;
  position:fixed;
  width:100%
}

nz-footer {
  text-align: center;
}

nz-content {
  margin-top:64px;
}

nz-message-container {
  z-index: 2100;
}

.tempStyling {
  border: solid 1px #2b2424;
  background: #f9f9f9;
  padding: 20px;
  text-align: center;
  height: 200px;
  cursor: pointer;
}
