<div class="content-container">
  <div class="introduction-container">

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="10">
        <h1 class="highlight">Nasze cele</h1>
        <h2>Wspieranie rywalizacji</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
        <h2>Spotkaj swoich przeciwników</h2>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
      </div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="2"></div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="6">
        <img style="max-height: 400px;" src="/assets/images/home/rivals.png"/>
      </div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="6">
        <img style="max-height: 400px;" src="/assets/images/home/player.png"/>
      </div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="2"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="10">
        <h1 class="highlight">Zawodnik</h1>
        <h2>Podstawa</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua..</p>
        <h2>Profil zawodnika</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.</p>
        <h2>Prywatność</h2>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      </div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="10">
        <h1 class="highlight">Drużyna</h1>
        <h2>Zakładanie drużyny</h2>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
          facilis est et expedita distinctio.</p>
        <h2>Menadżer</h2>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
          facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
        <h2>Rozmiar drużyny</h2>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
          repudiandae sint et molestiae non recusandae.</p>
        <!--<p>Gather your team and join the challenge...</p>-->
      </div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="2"></div>
      <!--style="text-align: right"-->
      <div nz-col class="gutter-row" nzXs="0" nzSm="6">
        <img style="max-height: 500px;" src="/assets/images/home/rivals2.png"/>
      </div>
    </div>

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="6">
        <h2>Zaproszenia</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. </p>
      </div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="6">
        <h2>Punkt "Home"</h2>
        <p> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur
          aut perferendis doloribus asperiores repellat. </p>
      </div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="6">
        <h2>Wirtualny budżet</h2>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt. </p>
      </div>

    </div>

  </div>
</div>

<app-parallax-image [height]="200" imageUrl="/assets/images/home/basketball-ball-background.jpg"></app-parallax-image>

<div class="content-container">
  <div class="introduction-container">

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="18">
        <h1>Rankingi sezonowe</h1>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
      </div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="6"></div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="18">
        <h1>System parowania drużyn</h1>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
      </div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="6"></div>
    </div>

    <nz-divider></nz-divider>


    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="18">
        <h1>Obiekty sportowe</h1>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
      </div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="6"></div>
    </div>

    <nz-divider></nz-divider>

    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzXs="0" nzSm="3"></div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="18">
        <h1>Rozwijany przez społeczność</h1>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
      </div>
      <div nz-col class="gutter-row" nzXs="0" nzSm="6"></div>
    </div>

  </div>
</div>
